#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid white;
  z-index: 99;
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size: 27px;
      color: powderblue;
      font-family: sans-serif;
    }
    &--set{
      color: white;
      font-family: sans-serif;
      font-size: 32px;
    }
  }
}